<div class='about section'>
    <h5>The Team</h5>
    <div class="team">
        <img class="img-fluid" src='https://res.cloudinary.com/zebehtech/image/upload/v1579188524/geng6-min_z6hnrp.jpg'
            alt='Martin' />
        <div>
            <img class="img-fluid"
            src='https://res.cloudinary.com/zebehtech/image/upload/v1579188525/RLexport-33-min_vjkysz.jpg'
            alt='Roml3n and Martin' />
            <p><br/>Martin (Zebe) Mwanda and Romlen Lenjo are photographic artists fluent in the language of story- telling. Creating beautiful imagery for over 3 years, for creatives in Kenya.
                <br/><br/>
                They are best known for their honest and timeless photography style. With a unique talent for encompassing raw emotion in a frame. They capture moments unseen, effortlessly. Seamless in their execution, they lead with a sophistication of composition, stripping back the layers and capturing the real and the unfiltered.
                <br/><br/>
                With each moment in time mesmerizing to relive, Zebehtech photography’s expertise is in the details. Creating a visual story weaved from the truly intimate and celebratory moments. The outcome is incomparable, painting a picture so vivid for a subject to forever hold.
            </p>
        </div>
        <img class="img-fluid"
            src='https://res.cloudinary.com/zebehtech/image/upload/v1579188075/RLexport-25-min_qfjzvq.jpg'
            alt='Roml3n' />
    </div>
</div>