<div class='about section'>
    <h5>The Team</h5>
    <div class="team">
        <img class="img-fluid" src='https://res.cloudinary.com/zebehtech/image/upload/v1579188524/geng6-min_z6hnrp.jpg'
            alt='Martin' />
        <img class="img-fluid"
            src='https://res.cloudinary.com/zebehtech/image/upload/v1579188525/RLexport-33-min_vjkysz.jpg'
            alt='Roml3n and Martin' />
        <img class="img-fluid"
            src='https://res.cloudinary.com/zebehtech/image/upload/v1579188075/RLexport-25-min_qfjzvq.jpg'
            alt='Roml3n' />
    </div>
</div>