<div class='test'>
  <carousel>
    <slide>
      <img src="https://res.cloudinary.com/zebehtech/image/upload/v1579186958/sgr-min_kita9v.jpg" alt="first slide"
        style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://res.cloudinary.com/zebehtech/image/upload/v1579186960/_DSC8295-min_ngw0q4.jpg"
        alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://res.cloudinary.com/zebehtech/image/upload/v1579186960/_DSC8227-min_dyo1ck.jpg" alt="third slide"
        style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://res.cloudinary.com/zebehtech/image/upload/v1579186959/_DSC8219-min_fukaxx.jpg" alt="third slide"
        style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://res.cloudinary.com/zebehtech/image/upload/v1579186959/sgr1-min_rv4s1b.jpg" alt="third slide"
        style="display: block; width: 100%;">
    </slide>
  </carousel>
  <carousel>
    <slide>
      <img src="https://res.cloudinary.com/zebehtech/image/upload/v1579186960/_DSC8227-min_dyo1ck.jpg" alt="third slide"
        style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://res.cloudinary.com/zebehtech/image/upload/v1579186960/_DSC8295-min_ngw0q4.jpg"
        alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://res.cloudinary.com/zebehtech/image/upload/v1579186958/sgr-min_kita9v.jpg" alt="first slide"
        style="display: block; width: 100%;">
    </slide>

    <slide>
      <img src="https://res.cloudinary.com/zebehtech/image/upload/v1579186959/_DSC8219-min_fukaxx.jpg" alt="third slide"
        style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://res.cloudinary.com/zebehtech/image/upload/v1579186959/sgr1-min_rv4s1b.jpg" alt="third slide"
        style="display: block; width: 100%;">
    </slide>
  </carousel>
  <carousel>
    <slide>
      <img src="https://res.cloudinary.com/zebehtech/image/upload/v1579186959/_DSC8219-min_fukaxx.jpg" alt="third slide"
        style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://res.cloudinary.com/zebehtech/image/upload/v1579186959/sgr1-min_rv4s1b.jpg" alt="third slide"
        style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://res.cloudinary.com/zebehtech/image/upload/v1579186958/sgr-min_kita9v.jpg" alt="first slide"
        style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://res.cloudinary.com/zebehtech/image/upload/v1579186960/_DSC8227-min_dyo1ck.jpg" alt="third slide"
        style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://res.cloudinary.com/zebehtech/image/upload/v1579186960/_DSC8295-min_ngw0q4.jpg"
        alt="second slide" style="display: block; width: 100%;">
    </slide>
  </carousel>

</div>