<p>file-upload works!</p>
<div class="col-sm-5">
  <ng-container>
    <input type="file" id="file" multiple (change)="getFileDetails($event)">
    <select (change)="handleSelectChange($event)">
      <option value='parties' >Parties</option>
      <option value='birthdays' selected>Birthdays</option>
      <option value='lifestyle'>Lifestyle</option>
      <option value='potraits'>Potraits</option>
      <option value='weddings'>Wedding</option>
    </select>
    <button class="btn btn-primary" (click)="uploadFiles()">Upload</button>
  </ng-container>
</div>