.mat-grid-list {
    display: grid;
    grid-template-columns: 1fr;
  
  }
  
  @media (min-width: 568px) {
    .mat-grid-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr ;
    
      img {
        padding: 3px;
        width: 100%;
      }
    }
  }
  