.mat-grid-list {
    display: grid;
    grid-template-columns: 1fr;
  
    .photo {
      height: 100%;
      width: 100%;  
    
      img {
        padding: 3px;
        height: 100%;
        width: 100%;
      }
    }
  }
  
  @media (min-width: 568px) {
    .mat-grid-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
  
      
    }
  }
  